@layer components {
    #world-record {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    #world-record small {
        font-size: 0.85em;
    }

    #world-record-players {
        white-space: normal;
        overflow-wrap: normal;
        word-break: normal;
    }

    #splitter[data-layout="vertical"] #world-record {
        width: 100%;

        font-size: 0.8em;
        line-height: 1.2;
    }

    #splitter[data-layout="vertical"] #world-record-player,
    #splitter[data-layout="vertical"] #world-record-real-time,
    #splitter[data-layout="vertical"] #world-record-in-game-time {
        padding: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-label {
        min-width: var(--splitter-world-record-label-min-width, 0px);
        min-height: var(--splitter-world-record-label-min-height, 0px);
        padding-right: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-players {
        min-width: var(--splitter-world-record-players-min-width, 0px);
        min-height: var(--splitter-world-record-players-min-height, 0px);
        padding-left: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-rt-label {
        min-width: var(--splitter-world-record-rt-label-min-width, 0px);
        min-height: var(--splitter-world-record-rt-label-min-height, 0px);
        padding-right: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-rt-time {
        min-width: var(--splitter-world-record-rt-time-min-width, 0px);
        min-height: var(--splitter-world-record-rt-time-min-height, 0px);
        padding-left: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-rt-centiseconds {
        min-width: var(--splitter-world-record-rt-centiseconds-min-width, 0px);
        min-height: var(--splitter-world-record-rt-centiseconds-min-height, 0px);
    }

    #splitter[data-layout="vertical"] #world-record-igt-label {
        min-width: var(--splitter-world-record-igt-label-min-width, 0px);
        min-height: var(--splitter-world-record-igt-label-min-height, 0px);
        padding-right: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-igt-time {
        min-width: var(--splitter-world-record-igt-time-min-width, 0px);
        min-height: var(--splitter-world-record-igt-time-min-height, 0px);
        padding-left: 2px;
    }

    #splitter[data-layout="vertical"] #world-record-igt-centiseconds {
        min-width: var(--splitter-world-record-igt-centiseconds-min-width, 0px);
        min-height: var(--splitter-world-record-igt-centiseconds-min-height, 0px);
    }
}
